@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Notable&display=swap');

body{
     background-image: url(./image/Stadium.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      margin: 0;
      padding: 0;
}
table, th, td{
    text-align: center;
    color:black;
    border: 5px solid rgb(27, 61, 5);
    font-family: 'Fasthand', cursive;
font-family: 'Notable', sans-serif;
}
h1{
    color: rgb(0, 0, 0);
    text-align:center;
}
h2{
    text-align:center;
}
li{
    list-style: none;
}
#chelse{
    width: 70px;
    height: 70px;
    display: inline;
    margin-left: 50px;
    margin-top: -10px;
}
